// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #329cff;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

$notice: #6e00ff;
$notice-invert: findColorInvert($notice);
$caution: #ff00c8;
$caution-invert: findColorInvert($caution);
$warning: #f3a71c;
$warning-invert: findColorInvert($warning);

// Links
$link: #1111cc;
$link-invert: findColorInvert($link);
$link-focus-border: $link;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "notice": ($notice, $notice-invert),
    "caution": ($caution, $caution-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),
    "link": ($link, $link-invert)
);

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";